
    body {
        color: white;
        background: #008B8B; /*pesquisar site color hunt*/
        font-family: "Montserrat", sans-serif;
    }

    h1{
        font-size: 65px;
        line-height: 55px;
    }
                
    h1 strong {
        color:#48D1CC;
    }

    header ul li a {
        color: white;
        text-decoration: none;
        margin-right: 15px;
    }

    header ul{
        list-style: none;
        padding-left: 0;
    }

    header ul li {
        display: inline;
    }

    header, main, footer{

        width: 80%;/* ou 1120px*/
        margin: 0 auto; /*centralizar caixas na página*/
        /*border: dotted #008B8B;*/
        
    }

    header{

        background: black;
        padding: 0 12px 0 12px;
    }

    footer{
        color: 	#48D1CC;
        height: 55px;
    }

    /* Estilização do layout */

    section{

        box-sizing: border-box;
        float: left;

    }

    .secao-conteudo{

        width: 80%;
    }

    .secao-imagem{

        width: 20%;
    }